<!doctype html>
<html>
<head>
  <title>getme | harmonious favors</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="img/getme_favicon.png" />
</head>
<body>
  <!-- begin main -->
  <div class="container">
    
    <div class="row">

      <!-- logo/description column -->
      <div class="col-md-6">
        <div class="jumbotron">
          <img id="home-logo" src="img/getme_large_tagline.png" alt="getme" />
          <p><br></p>
          <p>Crowdsourcing shopping - join <strong>get</strong>me and do someone a favor today.</p>
          <br><br>
          <p class="credits">Created by Evan, Shawn, John, Aaron, and Eric for HackMIT</p>
        </div>
      </div>

      <!-- sign in/sign up column -->
      <div class="col-md-6 center">
        <div class="col-md-10 col-md-offset-1">

          <div id="signup-box">

            <h1>Sign Up</h1>

            <br>

            <form action="?" method="post" id="signup-form">

              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control" name="firstName" placeholder="First name" />
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" name="lastName" placeholder="Last name" />
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" name="email" placeholder="Email address" />
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" name="password" placeholder="New password" />
                </div>
              </div>
              <br>
              <div class="row">
                <button type="submit" class="btn btn-success btn-lg">Connect with Venmo</button>
              </div>
              <br>
              <div class="row">
              <h3>or</h3>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-success btn-lg btn-block">Sign In with Your <strong>get</strong>me Account</button>
                </div>
              </div>

            </form>

          </div>

        </div>
        <br><br>
      </div>

    </div>

  </div>
  <!-- end main -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>