<div class="row">
	<div class = "col-md-6">
	</div>
	<div class = "col-md-6">
		<div class="row">
			<div class="col-md-12">
				<h1>Your Created Requests</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="What do you want? Be specific!">
						</div>
					</div>
				</div>
				<div class="row">	
					<div class="col-md-12">	
						<div class="input-group">
							<span class="input-group-addon">How much are you paying? Cost + commission = $</span>
							<input type="text" class="form-control" placeholder="0.00">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<span class="input-group-addon">Do you want it from somewhere specific?</span>
							<input type="text" class="form-control" placeholder="No preference.">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">	
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Address">
						</div>
					</div>
					<div class="col-md-4">		
						<div class="input-group">
							<input type="text" class="form-control" placeholder="City">
						</div>
					</div>
					<div class="col-md-3">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="State">
						</div>
					</div>
					<div class="col-md-3">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="ZIP">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-primary btn-lg btn-block">Send Request</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						Example Item
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Paying: $599.99
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Store X, 99 Main Street, Nowhere, KS, 12345
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="row">
					<div class="col-md-12">
						Not Yet Accepted
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn btn-danger btn-lg btn-block">Cancel Request</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						Example Item 2
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Paying: $50.00
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						No store preference.
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="row">
					<div class="col-md-12">
						Accepted by John Doe
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn btn-success btn-lg btn-block">Pay with Venmo</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>