<form id="search-form" class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="venue-name">Venue Name</label>
    <input type="text" class="form-control" id="venue-name" placeholder="Venue Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="zip-code">Zip Code</label>
    <input type="text" class="form-control" id="zip-code" placeholder="Zip Code">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

<div class="list-group" id="search-results">
</div>